{%extends'admin/add.html'%}

{%block content%}
<div class="row" style="min-height: 100px;">
    <div class="col-md-10  px-3">
        <div class="row justify-content-center" style="margin-top: 50px; padding-bottom: 100px;">
            <div class="col-md-5 px-2">
                <form action="" enctype="multipart/form-data" method="POST" class="card px-5 mx-3" novalidate>
                    {%set m= get_flashed_messages(with_categories=True)%}
                                {%if m:%}
                                    {%for x,y in m%}
                                        {% if x =="error"%}
                                            <div class="alert alert-info">{{y}}</div>
                                        {%else:%}
                                            <div class="alert alert-info">{{y}}</div>
                                        {%endif%}
                                    {%endfor%}
                                    {%endif%}
                    <h4 class="text-center pt-4">Upload Job</h4>
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <div class="mb-3 pt-3">
                            {{ job.jobtitle.label(class_='text-center')}}
                            {{ job.jobtitle(class_='form-control' )}} 
                        </div> 
                        <div class="mb-3 pt-3">
                            {{ job.job_employer.label}}
                            {{ job.job_employer(class_='form-control')}} 
                        </div> 
                        <div class="mb-3 pt-3">
                            {{ job.job_country.label}}
                            {{ job.job_country(class_='form-control')}}
                        </div>
                        <div class="mb-3 pt-3">
                            {{ job.job_state.label}}
                            {{ job.job_state(class_='form-control')}}
                        </div>
                        <div class="mb-3 pt-3">
                            {{ job.job_salary.label}}
                            {{ job.job_salary(class_='form-control')}}
                        </div>
                        <div class="mb-3 pt-3">
                            {{ job.working_hours.label}}
                            {{ job.working_hours(class_='form-control')}}
                        </div>
                        <div class="mb-3 pt-3">
                            {{ job.job_link.label}}
                            {{ job.job_link(class_='form-control')}}
                        </div>
                        
                        <div>
                        {{ job.submit(class_='form-control bg-success  mb-4' )}} 
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{%endblock content%}