{%extends'admin/add.html'%}

{% block content%}
<div class="col-md-10" style=" min-height: 400px;">
    <div class="row">
    <div class="col-12">
    <h1 class="py-5 mx-5 text-center my-3" >All Users</h1>
    </div>
    <div class="col-12 py-5 px-4">
        {%if use%}
        <table class="table table-bordered table-striped">
         <thead>
             <tr>
                 <th>S/N</th>
                 <th>First Name</th>
                 <th>Last Name</th>
                 <th>Username</th>
                 <th>Email Address</th>
                 <th>Phone Number</th>
                 <th>Status</th>
                 <th>Join Date</th>
                 <th>Action</th>
                                
             </tr>
             {%for use in use%}
             <tr>
                 <td>{{loop.index}}</td>
                 <td>{{use.firstname}}</td>
                 <td>{{use.lastname}}</td>
                 <td>{{use.username}}</td>
                 <td>{{use.email}}</td>
                 <td>{{use.phone}}</td>
                 <td>
                    {%if use.status=='0'%}
                    <button class="btn btn-success">Regular</button>
                    {%endif%}
                    {%if use.status=='1'%}
                 <button class="btn btn-warning">Premium</button>
                 {%endif%}
                </td> 
                 <td>{{use.date_created}}</td>
                 <td> <a href="{{url_for('user_delete',id=use.user_id)}}" class="btn btn-sm btn-danger" onclick="confirm('Do You Really Want To Delete?')">Delete</a></td>
                          
             </tr>
             {%endfor%}
         </thead>
        </table>
        {%else%}
        <div>
            <h1>No Users Yet</h1>
        </div>

        {%endif%}
       </div>
       </div>
</div>        
{% endblock content%}