{%extends './inni.html'%}
<body>
	<div class="container-fluid bg-light">
        <!-- Section with content and py loop -->
        <!-- //video-6-->
        {%block one%}
        <section class="w3l-ecommerce-main mt-3">
            <!-- /products-->
            <div class="ecom-contenthny py-5">
                <div class="container py-lg-5 py-5">
                    <h3 class="hny-title mb-0 text-center">Best Women Wears</h3>
                    <p class="text-center">Handpicked Favourites just for you</p>
                    <!-- /row-->
                    {% if products %}
                    {% for x in products %}
                    <div class="col-lg-3 col-6 product-incfhny mt-4">
                        <div class="product-grid2 transmitv">
                            <div class="product-image2">
                                <a href="#">
                                    <img class="pic-1 img-fluid" src="/static/uploads/{{x.front_img}}">
                                    <img class="pic-2 img-fluid" src="/static/uploads/{{x.back_img}}">
                                </a>
                                <ul class="social">
                                        <li><a href="#" data-tip="Quick View"><span class="fa fa-eye"></span></a></li>

                                        <li><a href="{{ url_for('cart')}}" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
                                        </li>
                                </ul>
                                <div class="transmitv single-item">
                                    
                                            <a id="btn" href="{{ url_for('add_to_cart', item_id=x.product_id) }}" class="transmitv-cart ptransmitv-cart add-to-cart">
                                                Add to Cart
                                            </a>
                                        
                                    </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title">{{ x.product_name}}</h3>
                                <span class="price"><del>&#8358; {{x.delprice}}0</del>&#8358; {{ x.price }}0</span>
                            </div>
                            <div id="feedback"></div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="py-5 mt-5">
                        <h5 class="alert alert-success text-center ">Product out of stock</h5>
                    </div>
                    {% endif %}
                    <!-- //row-->
                </div>
            </div>
        </section>
        {%endblock%}
        <!-- //products-->
        <!-- End of the section -->









    </div>











    <script src="bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>     
</body>
</html>
