<section class="banner-bottom-wthree bg-light py-lg-5 py-3 text-center">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-4 py-md-4 py-3">
            <h3 class="tittle text-center mb-lg-5 mb-3">
                <span>Some Info</span>Featured Candidates</h3>
            <div class="row mt-5">
                <div class="col-lg-3 member-main text-center">
                    <div class="card">
                        <div class="card-body">
                            <div class="member-img">
                                <img src="jobimg/team1.jpg" alt=" " class="img-fluid rounded-circle">
                            </div>
                            <div class="member-info text-center py-lg-4 py-2">
                                <h4>Mark Jackman</h4>

                                <p class="my-4"> Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
                                <div class="mt-3 team-social text-center">

                                    <ul class="social-icons text-center">
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="mx-3">
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 member-main text-center">
                    <div class="card">
                        <div class="card-body">
                            <div class="member-img">
                                <img src="jobimg/team2.jpg" alt=" " class="img-fluid rounded-circle">
                            </div>
                            <div class="member-info text-center py-lg-4 py-2">
                                <h4>Janet Levine</h4>

                                <p class="my-4">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros..

                                </p>
                                <div class="mt-3 team-social text-center">

                                    <ul class="social-icons text-center">


                                        <li>
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="mx-3">
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 member-main text-center">
                    <div class="card">
                        <div class="card-body">
                            <div class="member-img">
                                <img src="jobimg/team3.jpg" alt=" " class="img-fluid rounded-circle">
                            </div>
                            <div class="member-info text-center py-lg-4 py-2">
                                <h4>Rene Rickman</h4>

                                <p class="my-4">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros..

                                </p>
                                <div class="mt-3 team-social text-center">

                                    <ul class="social-icons text-center">


                                        <li>
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="mx-3">
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 member-main text-center">
                    <div class="card">
                        <div class="card-body">
                            <div class="member-img">
                                <img src="jobimg/team4.jpg" alt=" " class="img-fluid rounded-circle">
                            </div>
                            <div class="member-info text-center py-lg-4 py-2">
                                <h4>Daniele Norwich</h4>
                                <p class="my-4">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros..
                                </p>
                                <div class="mt-3 team-social text-center">

                                    <ul class="social-icons text-center">


                                        <li>
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="mx-3">
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- client say start -->
<section class="clents-slide py-lg-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5  py-3">
            <h3 class="tittle text-center mb-lg-5 mb-3">
                <span>Some Info</span> What Clients Say?</h3>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner mt-5">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids row">
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>convallis felis</h6>
                                        <p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non mattis.</p>
                                        <h5>Davidson</h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="images/team4.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6 testi-main">
                                <div class="testi-grids t2 row">
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="images/team3.jpg" alt="">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>Cras rutrum</h6>
                                        <p>Lorem ipsum dolor sit amet. enim, non convallis felis mattis.</p>
                                        <h5>Janet Levine</h5>
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids row">
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>felis mattis</h6>
                                        <p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non yallis.</p>
                                        <h5>Mercurio</h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="images/team2.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids t2 row">
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="images/team1.jpg" alt="">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>Cras rutrum</h6>
                                        <p>Lorem ipsum dolor sit amet. enim, non convallis felis mattis.</p>
                                        <h5>Rene Rickman</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids row">
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>convallis felis</h6>
                                        <p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non mattis.</p>
                                        <h5>Mark Jackman</h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="images/team1.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6 testi-main">
                                <div class="testi-grids t2 row">
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="images/team2.jpg" alt="">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>Convallis</h6>
                                        <p>Lorem ipsum dolor sit amet. enim, non convallis felis mattis.</p>
                                        <h5>Daniele</h5>
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids row">
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>felis mattis</h6>
                                        <p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non yallis.</p>
                                        <h5>Mercurio</h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="images/team3.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids t2 row">
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="images/team4.jpg" alt="">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>Cras rutrum</h6>
                                        <p>Lorem ipsum dolor sit amet. enim, non convallis felis mattis.</p>
                                        <h5>Melissa Hoffman</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids row">
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>convallis felis</h6>
                                        <p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non mattis.</p>
                                        <h5>Melissa Hoffman</h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="images/team4.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6 testi-main">
                                <div class="testi-grids t2 row">
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="images/team3.jpg" alt="">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>Convallis</h6>
                                        <p>Lorem ipsum dolor sit amet. enim, non convallis felis mattis.</p>
                                        <h5>Daniele </h5>
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids row">
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>felis mattis</h6>
                                        <p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non yallis.</p>
                                        <h5>Thomas Muller</h5>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="images/team2.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6  testi-main">
                                <div class="testi-grids t2 row">
                                    <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                        <img class="img-fluid" src="images/team1.jpg" alt="">
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 clients-info-text">
                                        <h6>Felis mattis</h6>
                                        <p>Lorem ipsum dolor sit amet. enim, non convallis felis mattis.</p>
                                        <h5>Mark Jackman</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev test" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="fas fa-long-arrow-alt-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next test" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="fas fa-long-arrow-alt-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>

                </a>

            </div>
        </div>
    </div>
</section>
<!-- what client syas end  -->
 <!--/mobile-app -->
 <section class="banner_bottom mobile-app">
    <div class="dotts py-lg-5 py-3">
        <div class="container">
            <!--/mobile-app -->
            <div class="inner-sec-w3ls py-lg-5  py-3">
                <div class="row">
                    <div class="col-md-7 app-info">
                        <h3 class="header">Download &amp; Enjoy</h3>
                        <p class="para_vl">Nam arcu mauris, tincidunt sed convallis non, egestas ut lacus. Cras sapien urna, malesuada ut varius consequat, hendrerit nisl. Aliquam vestibulum, odio non ullamcorper malesuada.</p>
                        <ul class="app-devices mt-5">
                            <li>
                                <a href="#" title="">
                                    <i class="fab fa-apple"></i>
                                    <span class="app-con">App Store
                                        <span class="avail">Available now on the </span>
                                    </span>

                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    <i class="fab fa-google-play"></i>

                                    <span class="app-con">Google Play
                                        <span class="avail">Get in on</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <p class="para_vl">
                            <a href="#">Click here </a>to know more about apps.</p>
                    </div>
                    <div class="col-md-5 app-img">
                        <img src="jobimg/mobile.png" alt=" " class="img-fluid">
                    </div>
                </div>
                <!--//mobile-app -->
            </div>
        </div>
    </div>
</section>

<!--/search-right-->
<div class="search-right">

    <a href="#search" title="search"><span class="fa fa-search mr-2" aria-hidden="true"></span>
        <span class="search-text">Search here</span></a>
    <!-- search popup -->
    <div id="search" class="pop-overlay">
        <div class="popup">

            <form action="#" method="post" class="search-box">
                <input type="search" placeholder="Keyword" name="search" required="required"
                    autofocus="">
                <button type="submit" class="btn">Search</button>
            </form>

        </div>
        <a class="close" href="#">×</a>
    </div>
    <!-- /search popup -->
</div>
<!--//search-right-->

<!-- this is the shopping filter -->

<section class="w3l-footer-22">
    <!-- footer-22 -->
    <div class="footer-hny py-5">
        <div class="container py-lg-5">
            <div class="text-txt row">
                <div class="left-side col-lg-4">
                    <h3><a class="logo-footer" href="index.html">
                          Spry<span class="lohny">S</span>tore</a></h3>
                    <!-- if logo is image enable this   
                                  <a class="navbar-brand" href="#index.html">
                                      <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                                  </a> -->
                    <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.Vivamus
                        a ligula quam. Ut blandit eu leo non suscipit. </p>
                    <ul class="social-footerhny mt-lg-5 mt-4">

                        <li><a class="facebook" href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                        </li>
                        <li><a class="twitter" href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                        </li>
                        <li><a class="google" href="#"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        </li>
                        <li><a class="instagram" href="#"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </div>

                <div class="right-side col-lg-8 pl-lg-5">
                    <h4>Women's Day Special Offer
                      All Branded Sandals are Flat 50% Discount</h4>
                    <div class="sub-columns">
                        <div class="sub-one-left">
                            <h6>Useful Links</h6>
                            <div class="footer-hny-ul">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms and Conditions</a></li>
                                    <li><a href="contact.html">Support</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="sub-two-right">
                            <h6>Our Store</h6>
                            <p class="mb-5">49436 Broaddus Honey Court Avenue, Madisonville KY 95020, United States of America</p>

                            <h6>We accept:</h6>
                            <ul>
                                <li><a class="pay-method" href="#"><span class="fa fa-cc-visa"
                                            aria-hidden="true"></span></a>
                                </li>
                                <li><a class="pay-method" href="#"><span class="fa fa-cc-mastercard"
                                            aria-hidden="true"></span></a>
                                </li>
                                <li><a class="pay-method" href="#"><span class="fa fa-cc-paypal"
                                            aria-hidden="true"></span></a>
                                </li>
                                <li><a class="pay-method" href="#"><span class="fa fa-cc-amex"
                                            aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="below-section row">
                <div class="columns col-lg-6">
                    <ul class="jst-link">
                        <li><a href="#">Privacy Policy </a> </li>
                        <li><a href="#">Term of Service</a></li>
                        <li><a href="contact.html">Customer Care</a> </li>
                    </ul>
                </div>
                <div class="columns col-lg-6 text-lg-right">
                    <p>© 2020 SpryStore. All rights reserved. Design by <a href="https://w3layouts.com/" target="_blank">
                            W3Layouts</a>
                    </p>
                </div>
                <button onclick="topFunction()" id="movetop" title="Go to top">
                    <span class="fa fa-angle-double-up"></span>
                </button>
            </div>
        </div>
    </div>
    <!-- //titels-5 -->
    <!-- move top -->

    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->
</section>

<!--/right-->
<ul class="top-hnt-right-content col-lg-6">

    <li class="button-log usernhy">
        <a class="btn-open" href="#">
            <span class="fa fa-user" aria-hidden="true"></span>
        </a>
    </li>
    <li class="transmitvcart galssescart2 cart cart box_1">
        <form action="#" method="post" class="last">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="display" value="1">
            <button class="top_transmitv_cart" type="submit" name="submit" value="">
                My Cart
                <span class="fa fa-shopping-cart"></span>
            </button>
        </form>
    </li>
</ul>
<!--//right-->

<!-- This is for the Dashboard  -->
<div class="container-fluid p-0">

    <h1 class="h3 mb-3"><strong></strong> Dashboard</h1>

    <div class="row">
        <div class="col-xl-6 col-xxl-5 d-flex">
            <div class="w-100">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Savings</h5>
                                    </div>

                                    <div class="col-auto">
                                        <div class="stat text-primary">
                                            <i class="align-middle" data-feather="dollar-sign"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">$10,000,586.00</h1>
                                <div class="mb-0">
                                    <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
                                    <span class="text-muted">Since last week</span>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Checkings</h5>
                                    </div>

                                    <div class="col-auto">
                                        <div class="stat text-primary">
                                            <i class="align-middle" data-feather="dollar-sign"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">$586,000.00</h1>
                                <div class="mb-0">
                                    <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 5.25% </span>
                                    <span class="text-muted">Since last week</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Spendings</h5>
                                    </div>

                                    <div class="col-auto">
                                        <div class="stat text-primary">
                                            <i class="align-middle" data-feather="dollar-sign"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">$21.300</h1>
                                <div class="mb-0">
                                    <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 6.65% </span>
                                    <span class="text-muted">Since last week</span>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Credit Builder</h5>
                                    </div>

                                    <div class="col-auto">
                                        <div class="stat text-primary">
                                            <i class="align-middle" data-feather="dollar-sign"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">64</h1>
                                <div class="mb-0">
                                    <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -2.25% </span>
                                    <span class="text-muted">Since last week</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-xxl-7">
            <div class="card flex-fill w-100">
                <div class="card-header">

                    <h5 class="card-title mb-0">Recent Movement</h5>
                </div>
                <div class="card-body py-3">
                    <div class="chart chart-sm">
                        <canvas id="chartjs-dashboard-line"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
            <div class="card flex-fill w-100">
                <div class="card-header">

                    <h5 class="card-title mb-0">Browser Usage</h5>
                </div>
                <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                        <div class="py-3">
                            <div class="chart chart-xs">
                                <canvas id="chartjs-dashboard-pie"></canvas>
                            </div>
                        </div>

                        <table class="table mb-0">
                            <tbody>
                                <tr>
                                    <td>Chrome</td>
                                    <td class="text-end">4306</td>
                                </tr>
                                <tr>
                                    <td>Firefox</td>
                                    <td class="text-end">3801</td>
                                </tr>
                                <tr>
                                    <td>IE</td>
                                    <td class="text-end">1689</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
            <div class="card flex-fill w-100">
                <div class="card-header">

                    <h5 class="card-title mb-0">Real-Time</h5>
                </div>
                <div class="card-body px-4">
                    <div id="world_map" style="height:350px;"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xxl-3 d-flex order-1 order-xxl-1">
            <div class="card flex-fill">
                <div class="card-header">

                    <h5 class="card-title mb-0">Calendar</h5>
                </div>
                <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                        <div class="chart">
                            <div id="datetimepicker-dashboard"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-8 col-xxl-9 d-flex">
            <div class="card flex-fill">
                <div class="card-header">

                    <h5 class="card-title mb-0">Transaction History</h5>
                </div>
                <table class="table table-hover my-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="d-none d-xl-table-cell">Start Date</th>
                            <th class="d-none d-xl-table-cell">End Date</th>
                            <th>Status</th>
                            <th class="d-none d-md-table-cell">Assignee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Project Apollo</td>
                            <td class="d-none d-xl-table-cell">01/01/2023</td>
                            <td class="d-none d-xl-table-cell">31/06/2023</td>
                            <td><span class="badge bg-success">Done</span></td>
                            <td class="d-none d-md-table-cell">Vanessa Tucker</td>
                        </tr>
                        <tr>
                            <td>Project Fireball</td>
                            <td class="d-none d-xl-table-cell">01/01/2023</td>
                            <td class="d-none d-xl-table-cell">31/06/2023</td>
                            <td><span class="badge bg-danger">Cancelled</span></td>
                            <td class="d-none d-md-table-cell">William Harris</td>
                        </tr>
                        <tr>
                            <td>Project Hades</td>
                            <td class="d-none d-xl-table-cell">01/01/2023</td>
                            <td class="d-none d-xl-table-cell">31/06/2023</td>
                            <td><span class="badge bg-success">Done</span></td>
                            <td class="d-none d-md-table-cell">Sharon Lessman</td>
                        </tr>
                        <tr>
                            <td>Project Nitro</td>
                            <td class="d-none d-xl-table-cell">01/01/2023</td>
                            <td class="d-none d-xl-table-cell">31/06/2023</td>
                            <td><span class="badge bg-warning">In progress</span></td>
                            <td class="d-none d-md-table-cell">Vanessa Tucker</td>
                        </tr>
                        <tr>
                            <td>Project Phoenix</td>
                            <td class="d-none d-xl-table-cell">01/01/2023</td>
                            <td class="d-none d-xl-table-cell">31/06/2023</td>
                            <td><span class="badge bg-success">Done</span></td>
                            <td class="d-none d-md-table-cell">William Harris</td>
                        </tr>
                        <tr>
                            <td>Project X</td>
                            <td class="d-none d-xl-table-cell">01/01/2023</td>
                            <td class="d-none d-xl-table-cell">31/06/2023</td>
                            <td><span class="badge bg-success">Done</span></td>
                            <td class="d-none d-md-table-cell">Sharon Lessman</td>
                        </tr>
                        <tr>
                            <td>Project Romeo</td>
                            <td class="d-none d-xl-table-cell">01/01/2023</td>
                            <td class="d-none d-xl-table-cell">31/06/2023</td>
                            <td><span class="badge bg-success">Done</span></td>
                            <td class="d-none d-md-table-cell">Christina Mason</td>
                        </tr>
                        <tr>
                            <td>Project Wombat</td>
                            <td class="d-none d-xl-table-cell">01/01/2023</td>
                            <td class="d-none d-xl-table-cell">31/06/2023</td>
                            <td><span class="badge bg-warning">In progress</span></td>
                            <td class="d-none d-md-table-cell">William Harris</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-xxl-3 d-flex">
            <div class="card flex-fill w-100">
                <div class="card-header">

                    <h5 class="card-title mb-0">Monthly Sales</h5>
                </div>
                <div class="card-body d-flex w-100">
                    <div class="align-self-center chart chart-lg">
                        <canvas id="chartjs-dashboard-bar"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- This is the end of the dashboard content -->