{%extends 'inni.html'%}
        <!-- This is the start of the cart section -->
        {%block banner%}
        <div class="row justify-content-center pt-5">
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-8" style="border-right: solid 1px rgba(167, 164, 164, 0.8);">
                        <h2 class="pt-5 pb-3 text-center">Shopping Cart</h2>
                        <hr>
                        <table class="table table-hover text-center">
                            <thead>
                              <tr class="text-center">
                                <td scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col">Product</td>
                                <td scope="col">Price</td>
                                <td scope="col">Qty</td>
                                <td scope="col">Subtotal</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="">
                                <td class="my-3"><a href="" style="text-decoration: none; color: black;">x</a></td>
                                <td><img src="/static/shopimg/shop-22.jpg" alt="" height="150" width="80" style="border-radius: 5px;"></td>
                                <td>pink shirt</td>
                                <td>&#8358;5000</td>
                                <td>1</td>
                                <td>&#8358;5000</td>
                              </tr>
                              <tr>
                                <td><a href="" style="text-decoration: none; color: black;">x</a></td>
                                <td><img src="/static/shopimg/shop-1.jpg" alt="" height="150" width="100%" style="border-radius: 5px;"></td>
                                <td>Wine shirt</td>
                                <td>&#8358;5000</td>
                                <td>1</td>
                                <td>&#8358;5000</td>
                              </tr>
                              <tr>
                                <td><a href="" style="text-decoration: none; color: black;">x</a></td>
                                <td><img src="/static/shopimg/shop-4.jpg" alt="" height="150" width="100%" style="border-radius: 5px;"></td>
                                <td>Red shirt</td>
                                <td>&#8358;5000</td>
                                <td>1</td>
                                <td>&#8358;5000</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <div class="col-md-4">
                        <h2 class="pt-5 pb-3 text-center">Cart Totals</h2>
                        <hr>
                        <table class="table table-hover text-center">
                            <thead>
                              <tr class="text-center">
                                <td scope="col">Subtotal</td>
                                <td scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col">&#8358;5000</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="">
                                <td>Total</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>&#8358;5000</td>
                              </tr>
                             
                          </table>
                          <div class="text-center pt-4">
                            <a href="#" class="btn px-5 text-center btn-dark"> CHECKOUT</a>
                          </div>
                        
                        <hr>
                        
                    </div>
                </div>
            </div>
        </div>
        {%endblock%}
        <!-- End of Cart -->
   













