{%extends 'land.html'%}

 
{% block banner %}
<div class="col-md-8 px-0">
    <div class=" d-md-none d-block mx-4" style="width: 90%;">
        <form method="GET" class="d-flex pt-2" action="/search">
            <input type="text" class="form-control" name="q" placeholder="Enter product name..." required>
            <button class="btn text-white mx-2" style="background-color: goldenrod;" type="submit">Search</button>
          </form>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active  topbanner1">
        <div class=" mx-5 px-5  col-md-7" style="margin-top: 17%; ">
            
            <h2 class="pt-5"> Smart Watches New Collections </h2>
            <p>__Get up to<span class="text-danger"> 20%</span>  <span>Off</span></p>
            <a href="" class="btn text-white " style="background-color: rgb(209, 50, 10);" ><h6 class="px-2 pt-1">Shop Now</h4></a>
        </div>
      </div>
      <div class="carousel-item  topbanner2">
        <div class=" mx-5 px-5  col-md-7" style="margin-top: 17%; ">
            
            <h2 class="pt-5">Best Deals On Television </h2>
            <p>__Get up to <span class="text-primary">20% </span>  Discount</p>
            <a href="" class="btn text-white " style="background-color: rgb(10, 90, 209);" ><h6 class="px-2 pt-1">Shop Now</h4></a>
        </div>
           
        
      </div>
      <div class="carousel-item  topbanner3">
        <div class=" mx-5 px-5  col-md-7" style="margin-top: 17%; margin-left: 17%;">
            
            <h2 class="pt-5">Wide Range Of Mobile Phones </h2>
            <p><span class="text-success">__Top </span>  Sales Best <span>Deals</span></p>
            <a href="" class="btn text-white " style="background-color: rgb(29, 90, 5);" ><h6 class="px-2 pt-1">Shop Now</h4></a>
        </div>
      </div>
      <div class="carousel-item  topbanner4">
        <div class=" mx-5 px-5  col-md-7" style="margin-top: 17%; ">
            
            <h2 class="pt-5">Fresh, Healthy Air Everywhere </h2>
            <p><span style="color: rgb(78, 12, 12);">__Top </span>  Sales Best <span>Deals</span></p>
            <a href="" class="btn text-white " style="background-color: rgb(78, 12, 12);" ><h6 class="px-2 pt-1">Shop Now</h4></a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev   " style="color: black  !important;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon text-black" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
      <span class="visually-hidden text-danger">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div></div>
{% endblock banner %}
{% block trending %}
   <section >
    <div class="container  my-5">
        <div class="row justify-content-center">
            <h1 class="text-center py-4">Trending</h1>
            <div class="about-agileinfo row justify-content-center"> 
               <div class="col-md-11">
                <div class="row justify-content-center">
                    <div class="col-xs-6 col-md-5 my-2"> 
                        <div class="w3labout-img boxw3-agile"> 
                            <img src="/static/img1/images/bottom1.jpg " style="border-radius: 10px;"  alt=" " class="img-responsive h-50" /> 
                            <div class="agile-caption">
                                <h4 class="text-white">Vintage</h4>
                                    <a href="{{ url_for('men') }}" class="btn px-4 py-2 btn-outline-light mt-1">Shop with us </a>
                                    
                            </div> 
                        </div> 
                    </div>
                    <div class="col-xs-6 col-md-5 my-2"> 
                        <div class="w3labout-img boxw3-agile"> 
                            <img src="/static/img1/images/bottom2.jpg" style="border-radius: 10px;" alt=" " class="img-responsive" /> 
                            <div class="agile-caption">
                                <h4 class="text-white">Royal Handbags</h4>
                               
                                    <a href="{{url_for('handbags') }}" class="btn px-4 py-2 btn-outline-light mt-2">Shop with us </a>
                                    
                            </div> 
                        </div> 
                    </div>
                    <div class="col-xs-6 col-md-5 my-2"> 
                        <div class="w3labout-img boxw3-agile"> 
                            <img src="/static/img1/images/bot1.jpg" style="border-radius: 10px;" alt=" " class="img-responsive" /> 
                            <div class="agile-caption">
                                <h4 class="text-white">wool Female Tops</h4>
                               
                                    <a href="{{url_for('women') }}" class="btn px-4 py-2 btn-outline-light mt-2">Shop with us </a>
                                    
                            </div> 
                        </div> 
                    </div>
                    <div class="col-xs-6 col-md-5 my-2"> 
                        <div class="w3labout-img boxw3-agile"> 
                            <img src="/static/img1/images/bot_2.jpg" style="border-radius: 10px;" alt=" " class="img-responsive" /> 
                            <div class="agile-caption">
                                <h4 class="text-white">Men Suits </h4>
                               
                                    <a href="{{url_for('suits') }}" class="btn px-4 py-2 btn-outline-light mt-2">Shop with us </a>
                                    
                            </div> 
                        </div> 
                    </div>
                </div>
               </div>
                <!-- <div class="clearfix"> </div> -->
            </div> 
          
        </div> 
    </div>
  </section>
   {% endblock trending%}
   {% block discount %}
   <section>
    <div class="row we-offer justify-content-center">
        <div class="col-md-11">
            <div class="row justify-content-center">
                <div class="text-center">
                    <h1>We Offer up to <span style="color: goldenrod;">40%</span> Discount</h1>
                    <a href="" class="btn text-white py-2 " style="background-color: goldenrod" ><h6 class="px-2 pt-1">Shop Now</h4></a>
                    
                </div>
            </div>
        </div>
    </div>
</section>
   {% endblock discount %}
   {% block arrivals%}
   <section>
     <div class="row justify-content-center  my-5" >
         <h1 class="text-center">__New dArrivals__</h1>
         <div class="col-md-11">
             <div class="row justify-content-center  px-5 px-md-0 py-3 ">
               {% if shopdeets%}
               {% for x in shopdeets %}
               <div class="col-md-2 m-2  px-1 rounded add-shadow  bg-white px-0">
                <form action="{{ url_for('add_to_cart', item_id=x.product_id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                   <img src="/static/uploads/{{x.front_img}}" class="img-fluid  w-100" alt="">
                   <div class="mt-2">
                    <div class="mt-2">
                        <input type="text" name="quantity" class="form-control" value="1" placeholder="Quantity">
                      </div>
                    <select name="size" class="form-control" required>
                      <option value="">Select size</option>
                      {% for size in x.size %}
                      <option value="{{ size }}">{{ size }}</option>
                      {% endfor %}
                    </select>
                    <div class="product-content">
                        <h5 class="title">{{ x.product_name }}</h5>
                        <span class="price">
                          <del>&#8358; {{ x.delprice }}0</del>
                          &#8358; {{ x.price }}0
                        </span>
                      </div>
                  </div>
                   <button  class="btn mb-2 btn-outline-warning form-control">Add to cart</button>

                </form>
               </div>
               {% endfor %}
               {%else%}
                <div></div>
                {% endif %}
             
             </div>
         </div>
     </div>
 </section>
   {% endblock arrivals %}