{%extends 'land.html'%}

        
		<!-- this is the first section -->
        {% block first%}
		<div class="row home1">
            <div class="col"></div>
        </div>
        {%endblock%}
		<!-- this is second section -->
        {% block second%}
       <div class="row home2">
            <div class="col"></div>
       </div>
       {%endblock%}

<!-- This is the thrid sec -->
       {%block third%}
       <div class="row home3">
            <div class="col"></div>
       </div>
       {%endblock%}
<!-- This is the end of the Thrid section -->




